<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>最小二乗法(1次関数)</title>
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/main.css">
  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery.flot.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript">
  </script>
</head>
<body <% if @error.empty? %>onload="render_graph('<%= @plot_data %>', '<%= @a.to_s(%(f)) %>', '<%= @b.to_s(%(f)) %>', '<%= @x.last.to_s(%(f)) %>')"<% end %>>
  <div class="container">
    <div class="main">
      <div class="header">
        <div class="page-header">
          <h1>最小二乗法(1次関数)自動評価</h1>
        </div>
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">LeastSquaresMethod</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">App</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/help">Help</a></li>
            </ul>
          </div>
        </div>
        <div class="alert alert-danger"><strong>警告</strong> このツールはまだ完全なものではありません。重みはすべて"1"となっています。</div>
        <% if @error.include?(:no_data) %>
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>エラー</strong> データが入力されていない、またはcsvファイルの内容がありません。
        </div>
        <% end %>
        <% if @error.include?(:fewer_inputs) %>
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>エラー</strong> サンプル数が少なすぎます。3個以上入力してください。
        </div>
        <% end %>
        <% if @error.include?(:scale_nan) %>
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>エラー</strong> 表示桁数が不正な入力値です。半角数字のみ使用できます。
        </div>
        <% end %>
        <% if @error.include?(:data_nan) %>
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>エラー</strong> Excelデータが不正な入力値です。半角数字とカンマ(",")のみ使用できます。
        </div>
        <% end %>
        <% if @error.include?(:decode64_error) %>
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>エラー</strong> csvデータが認識できません。出力ファイルの形式を確認してください。
        </div>
        <% end %>
        <% if @error.include?(:parse_error) %>
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>エラー</strong> Excelデータが解析に失敗しました。入力方法を確認してください。<a href="/help">ヘルプ</a>
        </div>
        <% end %>
      </div>
      <div class="input section">
        <h2>入力</h2>
        <label>Excelデータの入力</label>
        <textarea class="form-control input_area textarea" ondragover="drop_receive_prepare(event)" ondrop="get_drop_file(event)"><%= @input_area %></textarea>
        <span class="help-block">Excelのデータを"x,y"とコンマで区切って入力するか、csvファイルをドラッグ&ドロップしてください。<a href="/help">ヘルプ</a></span>
        <label>表示桁数</label>
        <input type="text" class="form-control scale_area textarea" value="<%= @scale %>" onKeyPress="return submitStop(event);"></input>
        <span class="help-block">表示する小数点以下の最大桁数を指定します。</span>
        <button type="button" class="btn btn-primary evaluate_btn" onclick="evaluate_input()">評価</button>
      </div>
      <div class="result section">
        <h2>結果</h2>
        <% if @error.empty? %>
        <label>総和の表計算</label>
        <table class="table table-bordered result_table">
          <thead>
            <tr>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl=i" /></th>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl=x_i" /></th>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl=y_i" /></th>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl={x_i}^2" /></th>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl={x_i}{y_i}" /></th>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl=({y_i}-a-b{x_i})^2" /></th>
            </tr>
          </thead>
          <tbody>
            <% @n.times do |i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= (@x[i]).to_s("f") %></td>
              <td><%= (@y[i]).to_s("f") %></td>
              <td><%= (@x[i] ** 2).round(@scale).to_s("f") %></td>
              <td><%= (@x[i] * @y[i]).round(@scale).to_s("f") %></td>
              <td><%= ((@y[i] - @a - @b * @x[i]) ** 2).round(@scale).to_s("f") %></td>
            </tr>
            <% end %>
          </tbody>
          <tbody class="table-tail">
            <tr>
              <td><img src="http://chart.apis.google.com/chart?cht=tx&chl=\sum_{i=1}^{<%= @n %>}" /></td>
              <td><%= (@x_sum).round(@scale).to_s("f") %></td>
              <td><%= (@y_sum).round(@scale).to_s("f") %></td>
              <td><%= (@x_sq_sum).round(@scale).to_s("f") %></td>
              <td><%= (@x_sum_y_sum).round(@scale).to_s("f") %></td>
              <td><%= (@y_a_bx_sum).round(@scale).to_s("f") %></td>
            </tr>
          </tbody>
        </table>
        <label>傾き、切片、Det</label>
        <table class="table table-bordered a_b_table">
          <thead>
            <tr>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl=a" /></th>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl=b" /></th>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl=\bigtriangleup" /></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @a.round(@scale).to_s("f") %></td>
              <td><%= @b.round(@scale).to_s("f") %></td>
              <td><%= @det.round(@scale).to_s("f") %></td>
            </tr>
          </tbody>
        </table>
        <label>傾きと切片の不確かさ</label>
        <table class="table table-bordered a_b_uncertainty_table">
          <thead>
            <tr>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl=\sigma_y" /></th>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl=\sigma_a" /></th>
              <th><img src="http://chart.apis.google.com/chart?cht=tx&chl=\sigma_b" /></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @sig_y.round(@scale).to_s("f") %></td>
              <td><%= @sig_a.round(@scale).to_s("f") %></td>
              <td><%= @sig_b.round(@scale).to_s("f") %></td>
            </tr>
          </tbody>
        </table>
        <label>得られた関数</label>
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="http://chart.apis.google.com/chart?cht=tx&chl=y=(<%= @a.round(@scale).to_s("f") %>\pm<%= @sig_a.round(@scale).to_s("f") %>)%2B(<%= @b.round(@scale).to_s("f") %>\pm<%= @sig_b.round(@scale).to_s("f") %>)x" />
          </div>
        </div>
        <label>グラフ</label>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="graph_area"></div>
          </div>
        </div>
        <% end %>
        <label>Debug Field</label>
        <textarea class="form-control debug_area" disabled><%= @debug_area %></textarea>
      </div>
      <div class="footer">
        <p class="text-center">©2014 pnlybubbles</p>
      </div>
    </div>
  </div>
</body>
</html>